In [1]:
import os

import pandas as pd

In [2]:
# PEP 8

In [5]:
# Déclaration des constantes

DATA_DIR = '../data/external/'
ENTITES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'
ACTIVITY_CODE = "86."

In [6]:
pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME), # concaténisation du répertoire et du nom du fichier
            compression='zip',
            nrows=1000
           ).head()

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [7]:
pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME), # concaténisation du répertoire et du nom du fichier
            compression='zip',
            nrows=1000
           ).columns

Index(['siren', 'statutdiffusionunitelegale', 'unitepurgeeunitelegale',
       'datecreationunitelegale', 'sigleunitelegale', 'sexeunitelegale',
       'prenom1unitelegale', 'prenom2unitelegale', 'prenom3unitelegale',
       'prenom4unitelegale', 'prenomusuelunitelegale', 'pseudonymeunitelegale',
       'identifiantassociationunitelegale', 'trancheeffectifsunitelegale',
       'anneeeffectifsunitelegale', 'datederniertraitementunitelegale',
       'nombreperiodesunitelegale', 'categorieentreprise',
       'anneecategorieentreprise', 'datedebut', 'etatadministratifunitelegale',
       'nomunitelegale', 'nomusageunitelegale', 'denominationunitelegale',
       'denominationusuelle1unitelegale', 'denominationusuelle2unitelegale',
       'denominationusuelle3unitelegale', 'categoriejuridiqueunitelegale',
       'activiteprincipaleunitelegale',
       'nomenclatureactiviteprincipaleunitelegale', 'nicsiegeunitelegale',
       'economiesocialesolidaireunitelegale', 'caractereemployeurunitelegale'],
      dtype='object')

In [42]:
%%time
entities_df = (pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME), 
                           usecols=['siren','activiteprincipaleunitelegale','etatadministratifunitelegale','datecreationunitelegale','denominationunitelegale','nomunitelegale'],
                           compression='zip',
#                            nrows=100000
                          )
           ).dropna(subset=['activiteprincipaleunitelegale'])

(entities_df[(entities_df).activiteprincipaleunitelegale.str.startswith("86.")]
 ['activiteprincipaleunitelegale']
.value_counts()
)

C:\Users\v16024031\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

86.90D    171348
86.90E    144949
86.21Z    120266
86.90F    102522
86.22C     61179
86.23Z     57206
86.06      13225
86.90A      8767
86.07       8081
86.22A      7185
86.22B      7036
86.90B      5621
86.12       4329
86.10       3914
86.10Z      3793
86.08       2766
86.02       1748
86.04       1472
86.09        981
86.05        977
86.01        703
86.03        220
86.11        189
86.90C       149
Name: activiteprincipaleunitelegale, dtype: int64

In [9]:
entities_df.shape

(99797, 4)

In [10]:
entities_df.denominationunitelegale.isnull().sum()

20222

In [11]:
entities_df.nomunitelegale.isnull().sum()

79575

In [14]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # concaténisation du répertoire et du nom du fichier
            compression='zip',
            nrows=1000
           ).columns

Index(['siren', 'nic', 'siret', 'statutdiffusionetablissement',
       'datecreationetablissement', 'trancheeffectifsetablissement',
       'anneeeffectifsetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'datederniertraitementetablissement', 'etablissementsiege',
       'nombreperiodesetablissement', 'complementadresseetablissement',
       'numerovoieetablissement', 'indicerepetitionetablissement',
       'typevoieetablissement', 'libellevoieetablissement',
       'codepostaletablissement', 'libellecommuneetablissement',
       'libellecommuneetrangeretablissement',
       'distributionspecialeetablissement', 'codecommuneetablissement',
       'codecedexetablissement', 'libellecedexetablissement',
       'codepaysetrangeretablissement', 'libellepaysetrangeretablissement',
       'complementadresse2etablissement', 'numerovoie2etablissement',
       'indicerepetition2etablissement', 'typevoie2etablissement',
       'libellevoie2etablissement', 'codepostal2etablissement',
       'libellecommune2etablissement', 'libellecommuneetranger2etablissement',
       'distributionspeciale2etablissement', 'codecommune2etablissement',
       'codecedex2etablissement', 'libellecedex2etablissement',
       'codepaysetranger2etablissement', 'libellepaysetranger2etablissement',
       'datedebut', 'etatadministratifetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'caractereemployeuretablissement'],
      dtype='object')

In [33]:
%%time
etab_df = (pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME),
                       usecols=['activiteprincipaleetablissement', 'datecreationetablissement',
                                'enseigne1etablissement', 'libellecommuneetablissement',
                                'denominationusuelleetablissement', 'etatadministratifetablissement',
                                'codecommuneetablissement', 'codepostaletablissement', 'siren'],
                       compression='zip',
#                       nrows=100000
                      )
          ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"')

etab_df = etab_df[etab_df.activiteprincipaleetablissement.str.startswith("86.")]

<string>:2: DtypeWarning: Columns (20,41,44) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 1min 45s

In [35]:
etab_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement
892,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z
6424,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z
17575,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z
26233,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B
34605,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z

In [24]:
etab_df.dtypes

siren                                 int64
datecreationetablissement            object
codepostaletablissement             float64
libellecommuneetablissement          object
codecommuneetablissement             object
etatadministratifetablissement       object
enseigne1etablissement               object
denominationusuelleetablissement     object
activiteprincipaleetablissement      object
dtype: object

In [29]:
entities_df.dtypes

siren                             int64
datecreationunitelegale          object
etatadministratifunitelegale     object
nomunitelegale                   object
denominationunitelegale          object
activiteprincipaleunitelegale    object
dtype: object

In [43]:
process_df = etab_df.merge(entities_df, on='siren', how='left')

In [44]:
process_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
0,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z
1,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z
2,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z
3,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B
4,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z

In [45]:
process_df.shape

(560103, 14)

In [46]:
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(0, 14)

In [47]:
etab_df.merge(entities_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()

right_only    19681506
both            560103
left_only            0
Name: _merge, dtype: int64